.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #4F0AE8;
  padding-bottom: 1rem;
}

.contact-title {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
}

.contact-title::first-letter {
  font-size: 4.5rem;
  font-style: italic;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.contact-form input{
  font-size: 1.2em;
  height: 10vh;
  
  color: #FFFFFF;
  background-color: #113c83;
  
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  
  border-width: 0;
  border-radius: 0.3rem;
}

.contact-form input::placeholder{
  color: #FFFFFF;
}

.contact-form textarea{
  font-size: 1.2rem;
  height: 10rem;
  
  color: #ffffff;
  background-color: #113c83;

  padding: 0.5rem;
  margin-bottom: 0.5rem;
  
  border-width: 0;
  border-radius: 0.3rem;
}

.contact-form textarea::placeholder{
  color: #FFFFFF;
}

.contact-form button{
  width: 100%;
  height: 3rem;
  align-items: center;

  color: #4F0AE8;
  font-size: 1.2rem;
  font-weight: bold;

  border-width: 0;
  border-radius: 0.3rem;
  background-color: #ffffff;
}

@media(max-width: 768px){
  .contact-form{
    width: 90%;
  }
}