.header-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 1rem;
  background-color: #4F0AE8;
  text-align: center;

  height: 100vh;
  width: 100%;
}

.full-name {
  font-size: 5rem;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #ffffff;
}

.occupation {
  color: #c4bcbc;
  font-size: 3.5rem;
}

.btn-rounded-white {
  display: inline-block;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.1rem 1rem;
  border: 3px solid #fff;
  border-radius: 1.5rem;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.btn-rounded-white:hover {
  text-decoration: none;
  background-color: #fff;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}