.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #cee1ff;
  padding-bottom: 1rem;
}

.education-title{
  font-size: 3rem;
}

.education-title::first-letter {
  font-size: 4.5rem;
  font-style: italic;
}

.education-card {
  width: 60%;
  
  padding: 2rem;
  margin-bottom: 1rem;

  background-color: #fff;
  border-radius: 0.1rem;
  border-width: 1px;
  box-shadow: 0px 0px 1px 1px #d1d1d1;

  font-size: 1.2rem;
}

.education-card-institution {
  /* font-size: 1.2rem; */
  font-weight: bold;
}

.education-card-end-date {
  /* font-size: 1.2rem;  */
  color: #7e8a80;
  float: right;
}

.education-card-course {
  /* font-size: 1.2rem; */
}

@media(max-width:768px){
  .education-card {
    width: 90%;
  }
  .education-card-end-date{
    width: 100%;
  }
}