.about-container {
  display: flex;
  flex-direction: column;
  
  padding-bottom: 1rem;
  background-color: #fff;
}

.about-container-title{
  font-size: 3rem;
  text-align: center;
}

.about-container-title::first-letter {
  font-size: 4.5rem;
  font-style: italic;
  font-weight: normal;
}

.about-container-text {
  display: flex;
  justify-content: center;
}

.about-container-text p {
  width: 60%;
  font-size: 1.2rem;
  text-align: justify;
}