.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #fff;
}


.footer-left, .footer-right-icon{
  font-size: 1.5rem;
  text-decoration: none;
  color: #606060;
}

@media(max-width: 768px){
  .footer-container {
    justify-content: center;
  }
  .footer-left, .footer-right-icon{
    width: 100%;
  }

}