.footer-container {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #fff;
}


.footer-left, .footer-right-icon{
  font-size: 1.5rem;
  text-decoration: none;
  color: #606060;
}