.footer-container {
  padding: 1rem;
  background-color: #fff;
  align-items: center;
}

.about-container-title::first-letter{
  font-size: 3rem;
}

.footer-container div p{
  font-size: 1rem;
  text-decoration: none;
  color: #606060;
}