.menu {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  
  padding: 0 1rem;
  height: 10%;
  width: 100%;
  
  z-index: 1;
}

.menu-navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 1rem; 
  height: 100%;
  width: auto;
  
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background-color: #113c83;
}

.menu-navigation-items ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
  font-size: 1.2rem;
}

.menu-navigation-items li{
  padding: 0 0.5rem;
}

.menu-navigation-items a{
  color: #ffffff;
  text-decoration: none;
}

.menu-navigation-items a:active,
.menu-navigation-items a:hover{
  color: rgb(172, 159, 214);
}

@media(max-width: 768px) {
  .menu-navigation-items {
    display: none;
  }
  .menu {
    top:2%;
    justify-content: flex-end;
  }
  .menu-navigation{
    border-radius: 0.3rem;
    height: 2.5rem;
    width: 3rem;
  }
}

@media(min-width: 769px){
  .menu-toogle-button {
    display: none;
  }
  
  .menu-logo {
    margin-left: 0; 
  }
}